%h1 PSP RSS Feed Formatter

%form{:method => 'get', :action => '/feed' }
  %label{:for => 'feed_url' } Feed URL:
  %input{:id => 'feed_url', :name => 'feed_url', :type => 'text' }

  %input{:type => 'Submit' }
